.sound-button
{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: green;
    font: none 16px "Arial";
    text-align: center;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.sound-button-wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px 10px;
}
